<!doctype html>
<html ng-app="developer">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="stylesheet" href="/sass/style.scss">

    <title>Documentação K1Plaza</title>


</head>

<body>

    <style>
        *[ng-cloak] { display: none; }
        body {
            overflow-y: scroll;
        }

    </style>

    <x-include name="navbar" />

    <div class="container">
        <div class="row">    
            <aside class="col-lg-3">
                <x-menu class="docs" dropdown_menu_class="sub-menu" dropdown_class="" selector=".nav-item" root="page-docs">
                    <ul class="nav flex-column nav-pills">
                        <li class="nav-item">
                            <a class="nav-link">Item</a>
                        </li>
                    </ul>
                </x-menu>
            </aside>
        
            <main class="col-lg-9">
                <div class="row">
                    <div class="col" id="content">
        
                        <!-- <x-documentation-page /> -->
        
                    </div>
                </div>
            </main>
        </div>
    </div>

    


    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/locale/pt-br.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-animate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ui-bootstrap4@3.0.3/dist/ui-bootstrap-tpls.js"></script>

    <script src="/static/js/app.js"></script>
    <script src="/static/js/controller/projects.js"></script>
    <script src="/static/js/controller/settings.js"></script>
    <script src="/static/js/controller/starters.js"></script>

</body>

</html>
