<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame Remove this if you use the .htaccess -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <title>Login</title>
        <meta name="description" content="" />
        <meta name="author" content="Pedro Henrique da Cruz Torres" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="../../static/stylesheets/login.css" data-no-cdn media="screen, projection" rel="stylesheet" type="text/css" />

        <!-- FONT ROBOTO CONDENSED -->
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>

    </head>

    <body data-plift="Login">
        <a href="/" class="back-bttn" onClick="history.back();return false;">&laquo; Back</a>

        <a  class="q1-logo" href="http://www.kreato.com.br" target="_blank"><img src="../../static/images/logo-kreato-full.png" data-no-cdn /></a>

        <div class="title">
            Escolha uma das opções de login.
        </div>

        <div class="bttns">
            <a href="" class="bttn google login-google-link">
                <span class="icon-social icon-google"></span>
                <span class="text">Logar com o Google</span>
            </a>
            <a href="" class="bttn facebook login-facebook-link">
                <span class="icon-social icon-facebook"></span>
                <span class="text">Logar com o Facebook</span>
            </a>
        </div>
    </body>
</html>
