/.vagrant
/app_instances
/file_storage
/managed_apps
/provisioning
/repositories
/*.conf
/log
/temp
/*.log
/*.sql
/.git*
/Vagrantfile
**/.sass-cache/
/.dockerignore
/docker-compose.yml
/Dockerfile
/*.md
/*.yml
