<x-meta title="Novo Projeto" layout="default" />

<h1 class="mb-4"><i class="fa fa-bolt"></i> Starter Kits</h1>

<div class="row project-starters" ng-controller="Starters as vm" ng-cloak>

    <div class="col ">
        <div class="card starter-item mb-4" ng-disabled="vm.focused != null && vm.focused != $index" ng-repeat="item in vm.repos">

            <div class="card-body">
                <h5 class="card-title vimeo-title text-truncate">
                    <a ng-class="{ 'text-danger': item.error, 'text-dark': item.id }" class="text-secondary" title="{{ item.error || 'Abrir repositório no GitHub' }}" ng-href="{{ item.html_url }}" target="_blank" class="" ><i class="fab fa-github"></i> {{ item.full_name }}</a>
                </h5>
                <p class="card-text">{{item.description}}</p>
            </div>

            <div class="card-footer text-muted">

                <button class="btn btn btn-default" ng-class="{ 'btn-dark': item.id }"
                    ng-disabled="!item.id" ng-show="!item.newProject" ng-click="item.newProject = {}; vm.focused = $index">Novo Projeto</button>

                <form ng-show="item.newProject" >
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-dark" type="button" ng-click="vm.focused = item.newProject = null" ng-disabled="item.newProject.progress"><i class="fa fa-arrow-left"></i></button>
                        </div>
                        <input ng-model="item.newProject.name" ng-disabled="item.newProject.progress" type="text" class="form-control" placeholder="Nome do projeto" autofocus>
                        <div class="input-group-append">
                            <button class="btn btn-default"
                                ng-click="vm.startProject(item.newProject, item)"
                                ng-disabled="!item.newProject.name || item.newProject.progress" 
                                ng-show="!item.newProject.result"
                                ng-class="{'btn-primary': item.newProject.name}">
                                {{ item.newProject.progress ? 'Clonando...' : 'Iniciar' }} 
                                <i class="fa fa-bolt" ng-class="{ 'fa-download': item.newProject.progress }"></i>
                            </button>
                            <button class="btn btn-success" ng-show="item.newProject.result.success" ng-click="vm.openProject(item.newProject)" ng-disabled="item.newProject.opening"> 
                                {{ item.newProject.opening ? 'Abrindo...' : 'Abrir website' }} <i class="fa fa-rocket"></i></button>                                
                            <button class="btn btn-danger" type="button" ng-show="item.newProject.result.error" ng-click="vm.focused = item.newProject = null">
                                Erro: {{item.newProject.result.error}}</button>                                
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


