
x-menu .active .nav-link {
    color: #007bff !important;
}

.project-starters {

    .starter-item {

        transition-property: opacity;
        transition-duration: 250ms;

        &[disabled] {
            opacity: 0.3;
            pointer-events: none;
        }

        .card-body {
            position: relative;
        }

        .author-avatar {
            position: absolute;
            top:-25px;
            right: -15px;
            width: 50px;
            border-radius: 50%;
            box-shadow: 0 0 5px 0 #343a40;
        }

        .card-title::first-letter {
            margin-left: 20px;

        }
    }
}
