<div class="remove-if-foo" data-plift-remove-if="foo"></div>
<div class="remove-if-foo-bar" data-plift-remove-if="foo bar"></div>
<div class="remove-if-foo-bar-baz" data-plift-remove-if="foo bar baz"></div>

<div class="remove-unless-foo" data-plift-remove-unless="foo"></div>
<div class="remove-unless-foo-bar" data-plift-remove-unless="foo bar"></div>
<div class="remove-unless-foo-bar-baz" data-plift-remove-unless="foo bar baz"></div>

<div class="remove-if-any-foo" data-plift-remove-if-any="foo"></div>
<div class="remove-if-any-foo-bar-baz" data-plift-remove-if-any="foo bar baz"></div>

<div class="remove-unless-any-foo" data-plift-remove-unless-any="foo"></div>
<div class="remove-unless-any-foo-bar-baz" data-plift-remove-unless-any="foo bar baz"></div>

<div class="environment" data-plift-remove-unless="environment.production"></div>
<div class="locale" data-plift-remove-unless="locale.pt"></div>
