<ul class="blog-archive-year-list">
    <li class="blog-archive-year-item">
        <a class="blog-archive-year-link"><span class="blog-archive-year-label"></span></a>
        <ul class="blog-archive-month-list">
            <li class="blog-archive-month-item">
                <a class="blog-archive-month-link"><span class="blog-archive-month-label"></span> (<span class="blog-archive-month-post-count"></span>)</a>
                <ul class="blog-archive-post-list">
                    <li class="blog-archive-post-item"><a class="blog-archive-post-link blog-archive-post-title"></a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>