<div class="expo-list">
    <div class="expo-item">

        <h1><a href="#" class="expo-link expo-title" data-plift-render-at="@title,text"></a></h1>
        <h4 class="expo-media-count"></h4>

        <ul>
            <li class="expo-media-item">
                <a class="expo-media-link"><img width="100" height="100" class="expo-media-image expo-media-meta-description" data-plift-render-at="@title"></a>
            </li>
        </ul>

    </div>
</div>

<a href="#" class="expo-back-link">Voltar</a>
