<!doctype html>
<html ng-app="developer">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

    <title>K1Plaza Developer</title>


</head>

<body>

    <style>
        *[ng-cloak] { display: none; }
    </style>

    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <a class="navbar-brand" href="/">K1Plaza Developer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <x-menu>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item menu-item">
                        <a class="nav-link" href="/">Projetos</a>
                    </li>
                    <li class="nav-item  menu-item">
                        <a class="nav-link" href="/config">Configurações</a>
                    </li>
                </ul>
            </x-menu>
        </div>
    </nav>

    <div class="container" id="content">

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/locale/pt-br.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-animate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ui-bootstrap4@3.0.3/dist/ui-bootstrap-tpls.js"></script>

    <script src="/static/js/app.js"></script>
    <script src="/static/js/controller/projects.js"></script>
    <script src="/static/js/controller/settings.js"></script>

</body>

</html>
